{% extends 'front/base.html' %}

{% block titlename %}{{ article.title }}{% endblock %}
{% block head_content %}
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='editormd/editormd.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='editormd/editormd.preview.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='editormd/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='editormd/planeui.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='front/article.css') }}">

{#    测试#}
{#    <link rel="stylesheet" href="{{url_for('static',filename='editormd/css/editormd.css')}}">#}
{#    <link rel="stylesheet" href="{{url_for('static',filename='editormd/css/editormd.logo.css')}}">#}
{#    <link rel="stylesheet" href="{{url_for('static',filename='editormd/css/editormd.preview.css')}}">#}

    <script src="{{url_for('static',filename='editormd/editormd.min.js')}}"></script>
    <script src="{{ url_for('static',filename='editormd/lib/marked.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/lib/prettify.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/lib/raphael.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/lib/underscore.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/lib/sequence-diagram.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/lib/flowchart.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/lib/jquery.flowchart.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/lib/prettify.min.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="content-title">
            {{ article.title }}
        </div>
        <div class="content-summary">
            {{ article.summary }}
        </div>
        <div id="content-text">
        </div>
        <div id="test-editormd-view">
            <textarea id="append-test" style="display:none;">{{ article.context }}</textarea>
        </div>

        <!-- 将后台拿到的context内容放到input里 然后通过javascript拿到value 反转义后放到div中 -->


    </div>
    <script type="application/javascript">
        {#var context = document.getElementById('context_input').value;#}
        {#document.getElementById('content-text').innerHTML = context#}
    </script>
    <script type="text/javascript">
        $(function() {
            var testEditormdView;


                //console.log("返回一个 jQuery 实例 =>", testEditormdView);

                // 获取Markdown源码
                //console.log(testEditormdView.getMarkdown());

                //alert(testEditormdView.getMarkdown());

            testEditormdView = editormd.markdownToHTML("test-editormd-view", {

                htmlDecode      : "style,script,iframe",  // you can filter tags decode
                emoji           : true,
                taskList        : true,
                tex             : true,  // 默认不解析
                flowChart       : true,  // 默认不解析
                sequenceDiagram : true  // 默认不解析
            });
        });
    </script>


{% endblock %}