.write_content{
    width: 1200px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    padding: 70px 100px 70px 100px;
}
.write_name{
    font-size: 30px;
}

.write_input_title{
    margin-top: 20px;
}
.login_input_summary{
    margin-top: 20px;
    margin-bottom: 20px;
}
.write_asides{
    font-size: 18px;
}
.write_asides_name{
    width: 1000px;
    height: 46px;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
}
.write_asides_name span{
    text-align: center;
    padding-top: 12.5px;
}

#editor{
    width: 1000px;
    margin: 0 auto;
}
.button-submit{
    padding: 10px;
    text-align: center;
}
.error_content{
    text-align: center;
}