<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>登录</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='cms/css/cms_login.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->

  </head>

  <body>

    <div class="container">

      <form class="form-signin" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <h2 class="form-signin-heading">请登录</h2>
          <label for="inputUsername" class="sr-only">用户名</label>
          <input type="text" id="inputEmail" class="form-control" placeholder="邮箱" name="username" required autofocus>
          <label for="inputPassword" class="sr-only">密码</label>
          <input type="password" id="inputPassword" class="form-control" name="password" placeholder='密码' required>
          <div class="checkbox">
              <label>
                  <input type="checkbox" name="remember" value="1"> 记住我
              </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">立即登录</button>
      </form>
          <p class="text-danger" style="text-align: center;">
              {% if message %}
                  <span>{{ message }}</span>
              {% endif %}
          </p>

    </div> <!-- /container -->

  </body>
</html>