{% extends 'base.html' %}
{% block titlename %}首页{% endblock %}
{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static',filename='index.css') }}">
{% endblock %}
{% block content %}
    {% for article in articles %}
        <article>
            <a href="article/{{ article.id }}/">{{ article.title }}</a>
            <summary>
                {{ article.summary }}
            </summary>
            <aside>
                {% for i in article.tags %}
                    {% if i.tag_name == 'Python' %}
                        <span class="label label-default tags"><a href="">{{ i.tag_name }}</a></span>
                    {% endif %}
                    {% if i.tag_name == 'Flask' %}
                        <span class="label label-primary tags"><a href="">{{ i.tag_name }}</a></span>
                    {% endif %}
                    {% if i.tag_name == '爬虫' %}
                        <span class="label label-info tags"><a href="">{{ i.tag_name }}</a></span>
                    {% endif %}
                {% endfor %}

                <time>{{ article.create_time|time_cut }}</time>
            </aside>
        </article>
    {% endfor %}
{% endblock %}