{% extends 'base.html' %}

{% block titlename %}文章编辑{% endblock %}

{% block head_content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'write/write.css') }}" />
    <script type="text/javascript" src='//unpkg.com/wangeditor/release/wangEditor.min.js'></script>
    <script type="text/javascript" src='http://apps.bdimg.com/libs/jquery/1.6.4/jquery.min.js'></script>
{% endblock %}

{% block content %}
    <form action="{{ url_for("write_article") }}" method="POST">
        <div class="write_content">
            <p class="write_name">文章编辑</p>
            <div class="input-group input-group-lg write_input_title">
                <span class="input-group-addon" id="sizing-addon1">Title</span>
                <input type="text" class="form-control" name="title" placeholder="Title" aria-describedby="sizing-addon1">
            </div>
            <div class="input-group input-group-lg login_input_summary">
                <span class="input-group-addon" id="sizing-addon1">Summary</span>
                <input type="text" class="form-control" name="summary" placeholder="Summary" aria-describedby="sizing-addon1">
            </div>
            <div class="write_asides">
                <div class="input-group input-group-lg write_asides_name">
                    <span class="input-group-addon" id="sizing-addon1">Asides</span>
                </div>
                <div>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" name="python" value="Python">Python
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox2" name="flask" value="Flask">Flask
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox3" name="pachong" value="爬虫">爬虫
                    </label>
                </div>

            </div>
        </div>

        <!-- wangEditor-->
        <div id="editor"></div>
        <script type="application/javascript">
            $(document).ready(function () {
                var rich_editor = window.wangEditor;
                var ed = new rich_editor('#editor');
                ed.create();
            })
        </script>
        <!-- wangEditor end-->
        <div class="button-submit">
            <button type="submit" class="btn btn-default"\>Submit</button>
        </div>
        <div class="error_content">
            {% if errorname %}
                <p><span style="font-size: 20px;">Error:输入框不能为空，请输入内容！</span></p>
            {% endif %}
        </div>


    </form>
{% endblock %}